.drawerPizza {
  padding-top: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  .drawerPizzaWrapper {

    .drawerPizzaWrapperTop {
      padding-bottom: 15px;

      .drawerPizzaCategoryTop {
        display: flex;

        img {
          width: 50px;
          height: 31px;
          margin-right: 4px;
        }

        .drawerPizzaCategoryTitle {
          font-family: "Gotham Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
          font-weight: 700;
          font-size: 12px;
          color: #70544f;

          .drawerPizzaCategorySubtitle {
            font-size: 12px;
            color: #a69895;
          }
        }

        a {
          margin-left: 4px;

          svg {
            width: 10px;

            path {
              fill: #bfb7b6;
            }
          }

          &:hover {
            path {
              fill: #c21313;
            }
          }
        }

      }

      .drawerPizzaCategoryBottom {
        padding-top: 15px;

        .drawerCategoryResult {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .drawerCategoryResultAdd {
            display: flex;

            .minus {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 20px;
              height: 20px;
              border: none;
              border-radius: 50%;
              background-color: #50a684;
              color: inherit;
              font: inherit;
              padding: 4px;
              cursor: pointer;

              svg {
                path {
                  fill: #ffffff;

                }
              }
              &:hover {
                transform: scale(1.1);
              }
            }

            span {
              font-family: 'Gotham Pro', system-ui, Tahoma, sans-serif;
              font-weight: 700;
              font-size: 16px;
              text-align: center;
              color: #70544f;
              margin: 0 10px;
            }

            .plus {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 20px;
              height: 20px;
              border: none;
              border-radius: 50%;
              background-color: #50a684;
              color: inherit;
              font: inherit;
              padding: 4px;
              cursor: pointer;


              svg {
                path {
                  fill: #ffffff;;
                }
              }

              &:hover {
                transform: scale(1.1);
              }
            }
          }

          .drawerCategoryResultSum {
            font-family: 'Gotham Pro', system-ui, Tahoma, sans-serif;
            font-size: 14px;
            font-weight: 500;
            color: #70544f;
          }
        }
      }
    }
  }
}