.loaderWrapper {
  position: fixed;
  inset: 0;
  overflow-x: hidden;
  z-index: 300;
  background-color: rgba(30, 31, 33, 0.73);
  display: flex;
  align-items: center;
  justify-content: center;

  .center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    .ring {
      position: absolute;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      animation: ring 2s linear infinite;

      @keyframes ring {
        0% {
          transform: rotate(0deg);
          box-shadow: 1px 5px 2px #e65c00;
        }
        50% {
          transform: rotate(180deg);
          box-shadow: 1px 5px 2px #18b201;
        }
        100% {
          transform: rotate(360deg);
          box-shadow: 1px 5px 2px #0456c8;
        }
      }

      &:before {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        box-shadow: 0 0 5px rgba(255, 255, 255, .3);
      }
    }

    span {
      font-family: 'Gotham Pro', system-ui, Tahoma, sans-serif;
      color: #737373;
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 1px;
      line-height: 200px;
      animation: text 3s ease-in-out infinite;

      @keyframes text {
        50% {
          color: rgb(80, 166, 132);
        }
      }
    }

  }

  //.loader {
  //  width: 48px;
  //  height: 48px;
  //  border: 3px solid #FF3D00;
  //  border-radius: 50%;
  //  display: inline-block;
  //  position: relative;
  //  box-sizing: border-box;
  //  animation: rotation 1s linear infinite;
  //}
  //.loader::after {
  //  content: '';
  //  box-sizing: border-box;
  //  position: absolute;
  //  left: 50%;
  //  top: 50%;
  //  transform: translate(-50%, -50%);
  //  width: 56px;
  //  height: 56px;
  //  border-radius: 50%;
  //  border: 3px solid;
  //  border-color:  rgb(80, 166, 132) transparent;
  //}
  //
  //@keyframes rotation {
  //  0% {
  //    transform: rotate(0deg);
  //  }
  //  100% {
  //    transform: rotate(360deg);
  //  }
  //}
}