.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;

  .content {
    background-color: #f8f8f8;
    min-height: 100vh;

    .pizza__box-item {
      display: flex;
      justify-content: space-between;

      .pizza__box-element {
        width: 75%;

        h1 {
          text-transform: capitalize;
          font-family: 'Gotham Pro', system-ui, Tahoma, sans-serif;
          font-size: 24px;
          font-weight: 700;
          color: #70555f;
          margin-bottom: 25px;
        }

        .pizza__box-body {
          max-width: 100%;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
        }
      }
    }


  }
}