.drawerWrapper {
  padding-top: 34px;

  .drawerWrapperTop {
    width: 272px;
    min-height: 72px;
    border-radius: 0 0 5px 5px;
    background-color: #ffffff;

    .drawerBox {
      position: relative;
      top: -3px;
      width: 272px;
      height: 3px;
      border-top: 3px solid #c21313;
      margin: 0 auto;

      .drawerCircle {
        position: absolute;
        left: 50%;
        top: -38px;
        transform: translate(-50%, 0);
        width: 5em;
        height: 2.4em;
        background-color: #ffffff;
        border-radius: 50% 50% 0 0 / 100% 100% 0 0;
        overflow: hidden;
        border-top: 3px solid #c21313;
        border-right: 3px solid #c21313;
        border-left: 3px solid #c21313;
      }

      .drawerImg {
        position: absolute;
        top: -23px;
        left: 50%;
        transform: translate(-50%, 0);

        svg {
          path {
            fill: #c21313;
          }
        }
      }
    }

    .blockDrawerObj {
      padding: 24px;

      .blockDrawers {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;

        .blockDrawerWrapper {
          &:hover {
            path {
              fill: rgb(80, 166, 132);
            }
          }

          .blockDrawerCart {
            font-family: 'Gotham Pro', system-ui, Tahoma, sans-serif;
            font-size: 18px;
            font-weight: 700;
            color: #70544f;
            cursor: pointer;
            margin-right: 4px;
          }

          .blockDrawerSet {
            font-size: 18px;
            color: #a69895;
          }

          svg {
            margin-left: 10px;
            width: 10px;
            cursor: pointer;
            transform: translateY(25%);

            path {
              fill: #70544f;
            }
          }
        }

        .drawerClea {
          font-size: 12px;
          font-weight: 400;
          color: #50a684;
          transition: color 0.25s linear;

          &:hover {
            color: #38755d;
          }
        }
      }

      .drawerObject {
        .drawerImg {
          display: block;
          margin: 16px auto;
        }

        .drawerTitle {
          font-size: 14px;
          font-weight: 400;
          color: #a69895;
          line-height: 18px;
          text-align: center;
        }
      }

      .drawerPizzaWrapperSum {

        .drawerPizzaSumItem {
          padding-top: 15px;
          color: #c21313;
          display: flex;
          justify-content: space-between;
          align-items: center;

          span {
            font-family: 'Gotham Pro', system-ui, Tahoma, sans-serif;
            font-size: 18px;
            font-weight: 500;
            color: #70544f;
          }

          .sumItemSize1 {
            font-size: 14px;
          }
        }

        .drawerBtn {
          display: block;
          margin: 18px auto 8px;
          width: 128px;
          height: 48px;
          padding: 15px 25px;
          background-color: rgb(80, 166, 132);
          border-radius: 24px;
          color: #ffffff;
          text-align: center;
          text-transform: capitalize;
          font-size: 16px;
          font-weight: 500;
          transition: .3s;

          &:hover {
            transform: scale(1.1);
          }
        }

        .drawerSubtitle {
          font-size: 12px;
          font-weight: 400;
          color: #50a684;
          text-align: center;
        }
      }
    }

  }

  .drawerWrapperBottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 272px;
    height: 78px;
    margin: 10px auto 0;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 0 24px;

    .promo {
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      background-color: #f8f8f8;
      height: 46px;
      border-radius: 20px;
      overflow: hidden;

      .promoSearch {
        max-width: 222px;
        border: none;
        outline: none;
        font-size: 14px;
        padding: 0 10px 0 20px;
        background-color: #f8f8f8;
        color: rgb(112, 84, 79);
        font-weight: 500;

        &:focus {
          background-color: #ffffff;
          height: 46px;
          border: 1px solid rgb(80, 166, 132);
          border-radius: 20px;
          overflow: hidden;
        }
      }

      .promoBtn {
        border: none;
        background-color: transparent;

        .promoImg {
          width: 32px;
          height: 32px;
          display: flex;
          justify-content: center;
          padding-right: 6px;
        }

        svg {
          path {
            fill: #bfb7b6;
          }
        }

        &:hover {
          path {
            fill: rgb(80, 166, 132);
          }
        }
      }
    }
  }

}