.header {
  display: flex;
  align-items: center;
  height: 80px;

  .headerBody {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .headerBtnCenter {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      width: 480px;
      height: 45px;
      border: none;
      border-radius: 24px;
      font: inherit;
      color: #ffffff;
      background-color: rgb(80, 166, 132);
      cursor: pointer;
      transition: .3s;

      &:hover {
        transform: scale(1.1);
      }

      svg {
        width: 20px;
        height: 20px;
        margin-right: 10px;

        path {
          fill: white;
        }
      }

      span {
        font-weight: 500;
        font-size: 16px;
        color: #ffffff;
      }
    }

    .headerLeft {
      display: flex;
      align-items: center;

      .headerTalk {
        font-family: 'Gotham Pro', system-ui, Tahoma, sans-serif;
        font-weight: 500;
        font-size: 14px;
        text-transform: capitalize;
        padding: 0;
        border: none;
        color: inherit;
        background-color: transparent;
        opacity: 0.5;
        cursor: pointer;
        transition: color 0.25s linear;

        &:hover {
          color: rgb(80, 166, 132);
        }
      }

      .headerBurgerMenu {
        display: flex;
        align-items: center;
        padding: 0;
        border: none;
        background-color: transparent;
        font: inherit;
        color: inherit;
        cursor: pointer;

        svg {
          width: 20px;
          height: 20px;
          margin-left: 20px;
          opacity: 0.5;
          transition: color 0.25s linear;

          &:hover {
            color: rgb(80, 166, 132);
          }
        }
      }
    }
  }
}

.container {
  margin: 0 auto;
  width: 1200px;
}

