footer {
  padding: 40px 0 40px;

  .footerTop {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .footerTopRight {
      display: flex;

      .footerTopCarrier {
        ul {
          li {
            padding-bottom: 20px;
            a {
              font-weight: 500;
              font-family: "Gotham Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
              color: #70544f;
              font-size: 14px;
              margin-right: 50px;
            }
          }
        }
      }

      .footerTopBlog {
        ul {
          li {
            padding-bottom: 20px;
            a {
              font-weight: 500;
              font-family: "Gotham Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
              color: #70544f;
              font-size: 14px;
              margin-right: 50px;
            }
          }
        }
      }

      .footerTopDelivery {
        ul {
          li {
            padding-bottom: 20px;
            a {
              font-weight: 500;
              font-family: "Gotham Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
              color: #70544f;
              font-size: 14px;
            }
          }
        }
      }
    }

    .footerTopLeft {
      a {
        img {
          width: 150px;
          height: 45px;
          margin-left: 15px;
        }
      }
    }
  }

  .footerDivider {
    width: 100%;
    height: 2px;
    background-color: #f4f4f8;
    margin-top: 10px;
  }

  .footerBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;

    .footerCopyright {
      width: 540px;
      margin-right: 50px;
      p {
        font-family: 'Gotham Pro', system-ui, Tahoma, sans-serif;
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        color: #70544f;
      }
    }
    .footerVk {
      margin-right: auto;
      svg {
        path {
          fill: #bfb7b6;
        }
      }
      &:hover {
        path {
          fill: #50a684;
        }
      }
    }
    .footerInfo {
      p {
        font-family: 'Gotham Pro', system-ui, Tahoma, sans-serif;
        font-size: 12px;
        font-weight: 500;
        color: #70544f;

        &:hover {
          color: #50a684;
        }
      }

    }
  }
}