.pizzaBlock {
  width: 292px;
  min-height: 754px;
  background-color: #ffffff;
  border-radius: 10px;
  gap: 5px;
  margin-bottom: 15px;
  position: relative;

  .pizzaBlockImg {
    width: 100%;
    border-radius: 10px;
  }

  .pizzaBlockLink {
    svg {
      position: absolute;
      top: 16px;
      right: 16px;
      border: 1px solid rgba(166, 152, 149, 0.37);
      border-radius: 100%;
      width: 32px;
      height: 32px;
      padding: 6px;

      path {
        fill: green;
      }
    }
  }

  .hit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px 10px 0;

    .hitTitle {
      background-color: #c21313;
      color: #ffffff;
      font-family: 'Gotham Pro', system-ui, Tahoma, sans-serif;
      font-size: 12px;
      font-weight: 700;
      line-height: 18px;
      padding: 0 12px;
    }

    .hitImg {
      margin-left: auto;

      path {
        fill: rgb(166, 152, 149);
      }
    }

    .hitPerson {
      margin-left: 5px;
      color: rgb(166, 152, 149);
      font-size: 14px;
    }
  }

  .pizzaWrapper {
    height: 62%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 16px 16px 20px;

    .pizzaWrapperTop {
      .pizzaBody {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        .pizzaTitle {
          font-family: 'Gotham Pro', system-ui, Tahoma, sans-serif;
          font-size: 18px;
          font-weight: 700;
          color: #70544f;
        }

        .pizzaLink {
          path {
            fill: rgb(191, 183, 182);
          }
        }
      }

      .pizzaSubtitle {
        font-size: 14px;
        font-weight: 400;
        color: rgb(166, 152, 149);
        line-height: 19px;
      }

    }

    .pizzaWrapperBottom {
      .pizzaSort {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid rgba(166, 152, 149, 0.15);
        border-radius: 20px;
        margin-top: 36px;

        .pizzaSortBtn {
          border: none;
          font: inherit;
          background-color: transparent;
          cursor: pointer;
          padding: 10px 25px 10px 25px;
          color: #a69895;
          font-size: 14px;
          &:hover {
            color: rgb(80, 166, 132);
          }
        }

        .pizzaSortBtnActive {
          border: none;
          font: inherit;
          cursor: pointer;
          font-size: 14px;
          background-color: #ededed;
          border-radius: 18px;
          padding: 10px 25px 10px 25px;
          color: #70544f!important;
          &:hover {
            color: rgb(80, 166, 132);
          }
        }
      }

      .pizzaSize {
        margin-top: 8px;
        border: 1px solid rgba(166, 152, 149, 0.15);
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;


        .pizzaSizeLink {
          padding: 10px 20px;
          color: #a69895;
          &:hover {
            color: rgb(80, 166, 132);
          }
        }
        .activeLink {
          background-color: #ededed;
          border-radius: 18px;
          padding: 10px 25px;
          color: #70544f!important;
        }
      }

      .pizzaCheese {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 25px;

        .pizzaCheesePlus {
          svg {
            width: 16px;
            height: 16px;
            margin-top: 8px;
            path {
              fill: #50a684;
            }
          }
        }
        span {
          color: #50a684;
        }
      }

      .pizzaBottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 25px;

        .pizzaBottomBtn {
          border: inherit;
          background-color: #50a684;
          color: #ffffff;
          padding: 13px 18px;
          border-radius: 24px;
          font-size: 16px;
          font-weight: 500;
          cursor: pointer;
        }

        .pizzaBtnBonus {
          border: inherit;
          background-color: #bfb7b6;
          color: #ffffff;
          padding: 13px 18px;
          border-radius: 24px;
          font-size: 16px;
          font-weight: 500;
          cursor: pointer;
        }

        .pizzaBottomTitle {
          font-family: 'Gotham Pro', system-ui, Tahoma, sans-serif;
          font-weight: 500;
          font-size: 18px;
          color: #70544f;
        }
      }
    }
  }
}